# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
Spring Semester ICS
Fall Semester ICS
Spring Semester 2025
Spring Semester ICS 2024
extraspreadsheets
*.ics
*.xlsx
faculty.txt
releases